body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: url('../img/paissagem.jpg');
    background-size: cover;
    background-position: center;
}
header{
    margin-top: -50px;
    margin-bottom: 70px;
}

header h1{
    text-align: center;
    color: #f5c107;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Teko";
}
header span{
    font-size: .8em;
    color: rgb(187, 187, 187);
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), #e0e0e0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 400px;
    padding: 10px 25px; 
    margin: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.242);
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

div.email_div, div.passcode_div{
    margin-bottom: 50px;
}

label {
    margin: 5px;
    font-weight: bolder;
    font-size: .75em;
    color: #2a5298;
    text-transform: uppercase;
    opacity: 0.7;
}

input#email, input#password {
    padding: 10px;
    border: 0;
    border-bottom: 0.2px solid #2a5298;
    background-color: transparent;
    width: 400px;
    outline: none;
    font-size: 1em;
    color: #1e3c72;
    letter-spacing: 3px;
}

input#buttonEntrar, input#buttonAderir {
    background-color: #ffffff4f;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid transparent;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
}

input#buttonEntrar:hover, input#buttonAderir:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
}
input#buttonEntrar{
    background-color: #f5c107;
    color: white;
    
}

