@font-face{
    font-family: "Poe";
    src: url('../font/poe.ttf');
  }

header{
    background-color: #f5c107;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.241);
}

header h1{
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: "Poe";
}

header span#subtitulo{
    font-size: 1.1em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

header span{
    font-size: 1em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

main article{

}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    padding: 25px;
    transform: translate(-50%,-30%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.242);
}

label {
    margin: 5px;
    font-weight: 200;
    font-size: .75em;
    color: black;
    text-transform: uppercase;
    opacity: 0.7;
    font-family: sans-serif;
}

.form input{
    padding: 10px;
    border-radius: 4px;
    border: 0;
    border-bottom: 0.2px solid grey;
    background-color: transparent;
    width: 300px;
    outline: none;
    font-size: 1em;
    color: black;
    letter-spacing: 3px;
}

.buttons{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.buttons input{
   position: relative;
   left: 300px;
   margin-left: 10px;
   margin-right: 10px; 
}