*{
    font-family: sans-serif;
}
@font-face{
    font-family: "Poe";
    src: url('../font/poe.ttf');
}
@font-face{
    font-family: "Ub";
    src: url('../font/ubuntu_b.ttf');
}
@font-face{
    font-family: "Ul";
    src: url('../font/ubuntu_l.ttf');
}
@font-face{
    font-family: "Ur";
    src: url('../font/ubuntu_r.ttf');
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100vh;
}

header{
    background-color: #f5c107;
    width: 100%;
    margin: 0;
    flex-grow: 1;
    padding-top: 20px;
}
header span#subtitulo{
    font-size: 1.1em;
    font-family: "Ub";
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

header span{
    font-size: 1em;
    font-family: "Ul";
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

header div.progress ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
header div.progress ul li{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    font-family: "Ur";
    padding: 10px 5px;
    border-top: 1px solid #fff;
    color: #fff;
    background-color: #000;
    opacity: .2;
}

main{
    flex-grow: 3;
}

header h1{
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: "Poe";
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.242);
}
.form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form div label{
    font-size: .7em;
    font-family: "Ub";
    opacity: .8;
    text-transform: uppercase;
}
.form div input{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 500px;
    outline: none;
    font-size: 1em;
    color: black;
    letter-spacing: 2px;
}

.buttons{
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.buttons input{
   left: 300px;
   margin-left: 10px;
   margin-right: 10px; 
}