body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100%;
    width: 100%;
}
header{
    background: linear-gradient(45deg, #ffeb3b, #ff9800);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    margin: 0;
    flex-grow: 1;
    padding-top: 20px;
    overflow: hidden;
}
header span#subtitulo{
    font-size: 1.1em;
    font-family: "Ub";
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
header span{
    font-size: 1em;
    font-family: "Ur";
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
header div.progress ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
header div.progress ul li{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    font-family: "Ur";
    padding: 10px 5px;
    color: #fff;
    background-color: transparent;
    opacity: .45;
}
header div.progress ul li.enable {
    background-color: #fff;
    opacity: 1;
    color :#ff9800;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
main{
    flex-grow: 3;
}

header h1{
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Teko";
}

.form{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 400px;
    padding: 25px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.242);
}
.form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form div label{
    font-size: .7em;
    font-family: "Ub";
    opacity: .8;
    text-transform: uppercase;
}
.form div input{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 500px;
    outline: none;
    font-size: 1em;
    color: black;
    letter-spacing: 2px;
}
.documentos .form div input{
    border: 1px solid grey;
    margin: 15px 0;
    border-radius: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60px;
}
.buttons button{
    text-align: center;
    border: 1px solid #000;
    color: #000;
    opacity: .8;
    margin: 0 70px;
    width: 200px;
    height: 40px;
    font-family: "Ur";
}
.buttons > button:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.buttons button#feito{
    border-radius: 25px;
    background-color: #00b600;
    color: #fff;
    border: 1px solid #00b600;
}

.buttons > button:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.buttons button:hover{
    border: 2px solid #fff;
    opacity: 1;
    color: #ff9800;
    box-shadow: 2px 2px 4px #0000006c;
}