body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100%;
    width: 100%;
}
.notificacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 18px #0000002f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}
.notificacao p{
    letter-spacing: 1.5px;
    text-align: justify;
}
.notificacao button{
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000;
}

header{
    flex-grow: 2;
    background-color: #fff;
    width: 100%;
    padding: 25px 10px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
header nav ul li{
    flex-grow: 1;
    list-style: none;
}
main{
    flex-grow: 3;
}

header h1{
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Teko";
}

article div.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 25px;
    margin: 10px;
    margin-top: 20px;
    gap: 40px;
}
article p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Ur';
}
article p a{
    color: #ffc800;
    font-family: 'Ub';
    font-size: 1.1em;
}
.form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form div label{
    font-size: .7em;
    font-family: "Ub";
    opacity: .8;
    text-transform: uppercase;
}

.form div input, select{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 500px;
    outline: none;
    font-size: 1em;
    color: black;
    letter-spacing: 2px;
}
.documentacao .form div input, select{
    border: 1px solid grey;
    margin: 15px 0;
    border-radius: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60px;
}
.buttons button{
    text-align: center;
    border: 1px solid #000;
    color: #000;
    opacity: .6;
    margin: 0 70px;
    width: 200px;
    height: 40px;
    font-family: "Ur";
}
.buttons button:hover{
    opacity: 1;
    transform: scale(1.1);
}