.page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header{
    flex-grow: 2;
    background-color: #fff;
    width: 100%;
    padding: 25px 10px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
header nav ul li{
    flex-grow: 1;
    list-style: none;
}

main{
     flex-grow: 8;
    background-color: #fff;
    width: 100%;
    padding: 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main .left_content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 25px;
    font-family: "Ur";
    font-size: 1.1em;
    width: 400px;
}
main .left_content p{
    line-height: 24px;
    letter-spacing: 1.2px;
}
main .left_content button{
    background-color: #FFC800;
    font-family: 'Ub';
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    width: 200px;
    border-radius: 15px;
    font-size: 1.2em;
    border: none;
}

main .right_content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
main .right_content img{
    width: 650px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #FFC800;
    width: 100%;
    padding: 25px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    margin: 0;
}

footer div{
    flex-grow: 1;
    padding: 0 40px;
}
footer div ul li{
    list-style: none;
    font-family: 'Ub';
    color: #fff;
}